@import "src/mixins";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  app-table {
    width: 900px;
    height: 300px;
  }
}

