@import "src/mixins";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  app-table {
    flex: 0 0 auto;
    width: 900px;
    height: 600px;
    overflow: auto;
  }
}

