@font-face {
    font-family: 'Samim';
    src: url('src/assets/fonts/Samim.woff2') format('woff2'),
        url('src/assets/fonts/Samim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('src/assets/fonts/Samim-Medium.woff2') format('woff2'),
        url('src/assets/fonts/Samim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('src/assets/fonts/Samim-Bold.woff2') format('woff2'),
        url('src/assets/fonts/Samim-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

